*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#EEE;
    font-family: 'Barlow Condensed', sans-serif;

}
.container{
    max-width: 800px;
    background-color:#E4F9F5;
    margin: 0 auto;
    padding:20px;

}
.profile-image{

    width: 100px;
    height: 120px;
    border: 3px solid cornsilk;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{

     color: #11999e;
}
.header-contact{
    float: right;
    padding: 30px;
    font-weight: bold;
}
.header-contact a{
    text-decoration: none;
    color: teal;

}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;

}
.div-clear{
    clear: both;
}
hr{
    border: solid black 4px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;

}
/*-personal section start----------*/
.content{
margin-bottom: 30px;

}
.left-div{
float: left;
width: 30%;
}
.right-div{
float: left;
width: 70%;

}
.div-clear{
    clear: both;
}
.common-hr{
    border: solid black 2px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
/*--------personal section end---*/
.edu-template-left{
    float: left;
    width: 45%;


}
.edu-template-right{
    float: right;
    width: 45%;

    
}

.ref-template-left{
    float: left;
    width: 45%;

}
.ref-template-right{
    float: right;
    width: 45%;
    
}
.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom-container a{
    color: white;
    text-decoration: none;
    margin: 20px;
}

.bottom-container p{
    color: white;
    
    margin-top: 20px;
}